name: My-First-Workflow
# To get my trigger opn every push in this repo in any branch 
on:  
  workflow_dispatch:
  push: 

jobs:
  job1:
    name: JOB1
    runs-on: ubuntu-latest
    steps: 
      - name: Running single command in Job1
        run: echo "Hi. this is my first GitHub workflow"
      - name: Checking OS Release for GitHub Hosted Runner
        run: cat /etc/os-release 
    

